name: CI/CD pipeline
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Execute commands over SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ubuntu
        key: ${{ secrets.SSHKEY }}
        script: |
          cd /home/ubuntu/gitofox.com  
          git pull origin main  
          sudo docker-compose down  
          sudo docker-compose up --build -d
